@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Nunito", serif;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 24px !important;
  height: 24px !important;
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
  border: 1px solid #0183ce;
  border-radius: 100px;
}

.slick-dots ul li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 17px;
  padding: 0;
  cursor: pointer;
  color: #0183ce !important;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  color: #0183ce !important;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  display: block;
  border-radius: 100px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #0183ce !important;
  background: #0183ce !important;
}

element.style {
  display: block;
}

.slick-dots {
  position: absolute;
  bottom: -38px !important;
}

:root {
  --color-primary: #0183CE;
}